.project
.idea
.metadata
.settings
**/*.log
**/coverage
**/target
**/*.project
**/*.settings
**/*.classpath
**/*.idea
**/__pycache__/*
**/*.pydevproject
!**/.gitkeep
*.bat
docs/~$.*

h2-database/target
h2-database/.classpath
h2-database/.project
h2-database/.settings
h2-database/h2.log.1

data-model-factory/target
data-model-factory/.settings
data-model-factory/.classpath
data-model-factory/.project
data-model-factory/.settings
data-model-factory/example.log

schema-wizard/.classpath
schema-wizard/.project
schema-wizard/.settings
schema-wizard/*.lnk
schema-wizard/**/__MACOSX
schema-wizard/bin
schema-wizard/data
schema-wizard/etc
schema-wizard/lib
schema-wizard/node
schema-wizard/node_modules
schema-wizard/servers
schema-wizard/src/main/webapp/bower_components
schema-wizard/src/main/webapp/WEB-INF/lib
schema-wizard/src/main/webapp/WEB-INF/lib/*.jar
schema-wizard/target

data-profiler/target
data-profiler/.classpath
data-profiler/.project
data-profiler/.settings
data-profiler/.settings
data-profiler/example.log

reverse-geocoding-service/

interpretation-engine/src/main/python/engine/_interpretation_.py
interpretation-engine/src/main/python/_interpretation_.py

interpretation-engine-mongodb/src/main/python/domain_builder/__pycache__/*
interpretation-engine-mongodb/.classpath

interpretation-engine-sidekick/.classpath
interpretation-engine-sidekick/.project
interpretation-engine-sidekick/.pydevproject
interpretation-engine-sidekick/.settings/

interpretation-engine-untrusted/.classpath
interpretation-engine-untrusted/.project
interpretation-engine-untrusted/.pydevproject
interpretation-engine-untrusted/.settings/

third-party-repo/jnetpcap/linux/jnetpcap-1.3.0-1.fc.x86_64
third-party-repo/jnetpcap/ubuntu/jnetpcap-1.3.0-1.ubuntu.x86_64
third-party-repo/jnetpcap/windows/jnetpcap-1.3.0-1.win64
third-party-repo/data-services/analytics-data-services
third-party-repo/bin
