.project
.idea
.metadata
.settings
**/*.log
**/coverage
**/target
!**/.gitkeep
docs/~$.*

h2-database/target
h2-database/.classpath
h2-database/.project
h2-database/.settings
h2-database/h2.log.1

data-model-factory/target
data-model-factory/.settings
data-model-factory/.classpath
data-model-factory/.project
data-model-factory/.settings
data-model-factory/example.log

schema-wizard/.classpath
schema-wizard/.project
schema-wizard/.settings
schema-wizard/*.lnk
schema-wizard/**/__MACOSX
schema-wizard/bin
schema-wizard/data
schema-wizard/etc
schema-wizard/lib
schema-wizard/node
schema-wizard/node_modules
schema-wizard/servers
schema-wizard/src/main/webapp/bower_components
schema-wizard/src/main/webapp/WEB-INF/lib
schema-wizard/src/main/webapp/WEB-INF/lib/*.jar
schema-wizard/target

data-profiler/target
data-profiler/.classpath
data-profiler/.project
data-profiler/.settings
data-profiler/.settings
data-profiler/example.log

reverse-geocoding-service/target
reverse-geocoding-service/.classpath
reverse-geocoding-service/.project
reverse-geocoding-service/.settings

mvn-build.bat
install-all-script.bat
install-all-script-basic.bat
install-reactor.bat
clean-project.bat
deprecated-install-all-script-basic.bat
local-deploy.bat