<div class="col-xs-12 panel-group" style="margin: 0px; padding: 0px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Schemas</h3>
        </div>
        <div id="schemaPanelBody" class="panel-body"
             style="padding-left: 0px; height: 240px;">
            <table id="schemaPanelTable" class="table table-striped"
                   style="height: 240px;" fixed-header>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Last Modification Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr ng-repeat="schema in catalog.schemaCatalog | orderBy:'sName'">
                    <td>
                        <p onmouseover="this.style.cursor='pointer'"
                           ng-click="browseSchema(schema)"
                           style="color: blue; font-style: italic; float: left; padding-right: inherit;">
                            {{schema.sName}}
                        </p>
                        <button class="btn-graphic-only btn-remove" type="button"
                                ng-model="singleModel"
                                uib-tooltip="Delete Schema"
                                tooltip-placement="right"
                                ng-click="removeSchema(schema)">
                        </button>
                    </td>
                    <td>{{schema.sVersion}}</td>
                    <td>{{schema.sLastUpdate | date : 'MM/dd/yyyy'}}</td>
                    <td>{{schema.sDescription}}</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" style="float: right; margin: 8px;"
            uib-tooltip="Create New Schema" tooltip-placement="left"
            ng-click="wizardStateControl('wizard-upload-samples-new-schema')">
        Create New Schema
    </button>
</div>
