<div style="width: 100%; margin: 2px 6px;">
    <div id="schemaDetailsContainer"
         class="panel-primary container" style="width: 99%; padding: 6px;">
        <div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
            <div class="col-xs-12 panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Schema Details - {{currentSchema.sName}}
                        </h3>
                    </div>
                    <table id="data-sources-table-title" class="table drag-drop">
                        <tr>
                            <th style="width: 28%;">Field</th>
                            <th style="width: 17%;">Aliases</th>
                            <th style="width: 4%;">Main Type</th>
                            <th style="width: 4%;">Detail Type</th>
                            <th style="width: 5%; text-align: center;">Min</th>
                            <th style="width: 5%; text-align: center;">Max</th>
                            <th style="width: 5%; text-align: center;">Average</th>
                            <th style="width: 5%; text-align: center;">Std Dev</th>
                            <th style="width: 4%; text-align: center;">Distinct</th>
                            <th style="width: 4%; text-align: center;">Presence</th>
                            <th style="width: 11%;">Interpretation</th>
                        </tr>
                    </table>
                    <div id="schemaDetailsPanelBody" class="panel-body"
                         style="padding-left: 0px; height: 240px; overflow-y: scroll">
                        <table id="data-sources-table" class="table drag-drop">
                            <tbody ng-repeat="(field, profile) in currentSchema.sProfile track by $index">
                            <tr ng-style="$index %2 === 0 && {'background-color': '#ffffff'} ||
                                              $index %2 === 1 && {'background-color': '#f9f9f9'}">
                                <td style="width: 30%; padding-left: 4px;">
                                        <span class="btn-property">
                                            <b>{{field}}</b>
                                            <button style="border: none; background-color: transparent;" uib-dropdown-toggle
                                                    ng-click="isCollapsed = !isCollapsed;" onclick="this.blur();"
                                                    ng-init="isCollapsed = true; currentSample.viz = 'hbc'">
                                                <span ng-show="isCollapsed" class="caret"></span>
                                                <span ng-show="!isCollapsed" class="inverted-caret"></span>
                                            </button>
                                        </span>
                                    </ul>
                                </td>
                                <td>
                                    <span ng-repeat="alias in currentSchema.sProfile[field]['alias-names']"
                                          ng-hide="alias['alias-name'] === field"
                                          style="width: 21%; margin-left: 2px; padding-left: 14px;">
                                        {{alias['alias-name']}}
                                    </span>
                                </td>
                                <td style="width: 3%; text-align: center;">
                                    {{profile["main-type"]}}
                                </td>
                                <td style="width: 6%; text-align: center;">
                                    {{profile["detail"]["detail-type"]}}
                                </td>
                                <td style="width: 5%; text-align: right;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["detail"]["min"]}}
                                    {{profile["detail"]["min-length"]}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 5%; text-align: right;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["detail"]["max"]}}
                                    {{profile["detail"]["max-length"]}}
                                    {{profile["detail"]["length"]}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 5%; text-align: right;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["detail"]["average"] | number:2}}
                                    {{profile["detail"]["average-length"] | number:2}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 5%; text-align: right;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["detail"]["std-dev"] | number:2}}
                                    {{profile["detail"]["std-dev-length"] | number:2}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 3%; text-align: right;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["detail"]["num-distinct-values"]}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 6%; text-align: center;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["presence"]}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                                <td style="width: 12%; text-align: left;"
                                    ng-hide="profile['presence'] === -1">
                                    {{profile["interpretation"]["interpretation"]}}
                                </td>
                                <td ng-show="profile['presence'] === -1">&nbsp;</td>
                            </tr>
                            <tr ng-hide="isCollapsed || profile['presence'] === -1"
                                ng-style="$index % 2 === 0 && {'background-color': '#ffffff'} ||
                                              $index % 2 === 1 && {'background-color': '#f9f9f9'}">
                                <td></td>
                                <td colspan="8">
                                    <div uib-collapse="isCollapsed">
                                        <ng-include
                                            src="'schema-wizard/schema-wizard.visualizations.html'"></ng-include>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <ng-include src="'schema-wizard/schema-wizard.legend.html'"></ng-include>
        <br>
        <div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
            <style>
                .table > tbody > tr > td {
                    padding: 2px;
                    max-width: 10px;
                    padding-left: 20px;
                }

                .table > thead > tr > th, .table > tbody > tr > th {
                    max-width: 10px;
                }

                .panel-group {
                    margin-bottom: 0px;
                }
            </style>
            <div class="col-xs-12 panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data Samples</h3>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>File Name</th>
                            <th>File Type</th>
                        </tr>
                    </table>
                    <div class="panel-body" style="padding-left: 0px; height: 160px; overflow-y: scroll;">
                        <table class="table table-striped header-fixed">
                            <tbody>
                            <tr ng-repeat="sample in currentSchema.sDataSamples track by $index">
                                <td>
                                    <p onmouseover="this.style.cursor='pointer'"
                                       ng-click="tabHistoryFactory.setPrevTab(1); browseSample(sample, browseSchema, currentSchema)"
                                       style="color: blue; font-style: italic;">
                                        {{sample.dsName}}
                                    </p>
                                </td>
                                <td>{{sample.dsFileName}}</td>
                                <td>{{sample.dsFileType}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" style="float: right; margin-top: 8px; margin-left: 4px;"
                uib-tooltip="Return to catalog"
                tooltip-placement="left"
                ng-click="navigateTo('/catalog')">
            Ok
        </button>
        <button class="btn btn-primary" style="float: right; margin-top: 8px; margin-left: 4px;"
                uib-tooltip="Modify this schema by adding data samples using the wizard"
                tooltip-placement="left"
                ng-click="wizardStateControl('wizard-upload-samples-existing-schema')">
            Modify Using Wizard
        </button>
        <button ng-controller="exportController"
                class="btn btn-primary" style="float: right; margin-top: 8px; margin-left: 4px;"
                uib-tooltip="Export schema to local file system"
                tooltip-placement="left"
                ng-click="exportSchema(currentSchema)">
            Export
        </button>
        <!--Removed unless the user comes back and requests...
        Will need to be turned into a directive due to $scope issue-->

        <!--<button ng-controller="schemaWizardCtrl"-->
                <!--class="btn btn-primary" style="float: right; margin-top: 8px; margin-left: 4px;"-->
                <!--uib-tooltip="Delete Schema"-->
                <!--tooltip-placement="left"-->
                <!--ng-click="removeSchema(currentSchema);">-->
            <!--Delete-->
        <!--</button>-->
    </div>
</div>
