<div class="col-xs-12 panel-group" style="margin: 0px; padding: 0px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Data Samples</h3>
        </div>
        <div id="samplePanelBody" class="panel-body"
             style="padding-left: 0px; height: 240px;">
            <table id="samplePanelTable" class="table table-striped"
                   style="height: 240px;" fixed-header>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>File Name</th>
                    <th>File Type</th>
                </tr>
                </thead>
                <tr ng-repeat="sample in catalog.dataSamplesCatalog | orderBy:'dsName'">
                    <td>
                        <p onmouseover="this.style.cursor='pointer'"
                           ng-click="tabHistoryFactory.setPrevTab(2); browseSample(sample, navigateTo, '/catalog')"
                           style="color: blue; font-style: italic;float: left; padding-right: inherit;">
                            {{sample.dsName}}
                        </p>
                        <button class="btn-graphic-only btn-remove" type="button"
                                ng-model="singleModel"
                                uib-tooltip="Delete Data Sample"
                                tooltip-placement="right"
                                ng-click="removeDataSample(sample)">
                        </button>
                    </td>
                    <td>{{sample.dsFileName}}</td>
                    <td>{{sample.dsFileType}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
