<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<!-- the main page, 'index.html' is served via the default servlet it loads
			the static resources (css, js, images) we do not want any of the static resources
			to be cached -->
		<servlet-name>Jetty Default Servlet</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>cacheControl</param-name>
			<param-value>no-store,no-cache,must-revalidate</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.deleidos.sw.SchemaWizardApplication</param-value>
		</init-param>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>no-store,no-cache,must-revalidate</param-value>
        </init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
    <servlet>
        <servlet-name>WebSocketServlet</servlet-name>
        <servlet-class>com.deleidos.analytics.websocket.WebSocketServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HelpRedirect</servlet-name>
        <servlet-class>com.deleidos.sw.HelpRedirect</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jetty Default Servlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebSocketServlet</servlet-name>
        <url-pattern>/analytics/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpRedirect</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>cross-origin</filter-name>
		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>allowedOrigins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedMethods</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedHeaders</param-name>
			<param-value>*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>cross-origin</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>

